td,
th {
  text-align: left;
}
.table-container {
  overflow: auto;
  max-width: 1000px;
  margin: auto;
  max-height: 70vh;
}
tr:nth-child(even) {
  background-color: #e7e7e7;
}
.table-pagination-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  max-width: 1000px;
}
.full-screen-loader {
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-screen-loader img {
  max-width: 400px;
}
.loading-screen-shown {
  transition: 200ms;
}
.loading-screen-hidden {
  transition: 600ms;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}
.link {
  color: rgb(71, 71, 240);
  text-decoration: underline;
  cursor: pointer;
}
.link:hover {
  opacity: 0.7;
}
.table-header {
  text-align: left;
  max-width: 1000px;
  margin: auto;
}
.table-load-all-container {
  max-width: 1000px;
  margin: auto;
}
