.error_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.numbers_container {
  display: flex;
  justify-content: center;
}
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 50%;
}

.numbers p {
  text-align: center;
}
.numbers span {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
